

	<div class="row col-md-12" id="page-header">
		<h1 class="align">2 Gamez</h1>
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
			<h3><strike>TIC TAC TOE</strike></h3>
		</div>
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
			<h3>HANGMAN</h3>
		</div>
	</div>
