

	<div class="row" id="games">
		<div class="col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1">
			<img src="assets/hangman-img.jpg" class="game-img">
		</div>
		<div class="col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1">
			<img src="assets/t3-img.jpg" class="game-img">
		</div>
	</div>


	<!-- col-sm-5 col-sm-offset-1  -->