body {
	background-image: url('/assets/2-chainz.jpg');
	background-color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	color: #fff;
}

#games {
	margin-top: 75px;
}

.game-img {
	max-width: 65%;
	min-width: 100px;
	height: auto;
	border-bottom: 1px solid grey;
	border-radius: 8%
}