body {
	background-image: url('/assets/2-chainz.jpg');
	background-color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	color: #fff;
}